#board {
	width: 650px;
	margin: auto;
	color: #ff3300;
}

#game {
	width: 400px;
	height: 400px;
	float: left;
	margin-right: 20px;
	border: 4px double #b30086;
	background: #c2c2d6;
	position: relative;
}

#info {
	width: 200px;
	height: 400px;
	float: left;
	border: 1px #b30086 solid;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	background: #c2c2d6;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	color: #b30086;
}

#points {
	margin: 5px;
	height: 120px;
	margin-top: 15px;
}

#rules {
	margin: 5px;
	font-size: 12pt;
}

#msg {
	font-size: 16pt;
	margin-bottom: 35px;
	visibility: hidden;
}

#loseMsg {
	color: red;
}

#nextRndMsg {
	color: green;
}

.snake {
	height: 8px;
	width: 8px;
	position: absolute;
	background: #b30086;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius: 2px;
}

.food {
	height: 8px;
	width: 8px;
	position: absolute;
	background: #ff3300;
}